<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="Anthony Federico" content="Flaskex">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../static/css/style.css" />

  <script src="../static/js/scripts.js"></script>
  <link rel="icon" type="image/png" href="../static/assets/i/favicon.png">
  <link rel="apple-touch-icon-precomposed" href="../static/assets/i/app-icon72x72@2x.png">
  <link rel="stylesheet" href="../static/assets/css/amazeui.min.css" />
  <link rel="stylesheet" href="../static/assets/css/amazeui.datatables.min.css" />
  <link rel="stylesheet" href="../static/assets/css/app.css">
  <script src="../static/assets/js/jquery.min.js"></script>

</head>

<body data-type="index" class="am-with-topbar-fixed-top">
  <script src="../static/assets/js/theme.js"></script>
  <div class="am-g tpl-g">
    <!-- 头部 -->
    <header style="background-color:#666" class="am-topbar am-topbar-inverse">
      <!-- logo -->
      <div class="am-fl tpl-header-logo">
        <a href="javascript:;"><img src="../static/assets/img/malu.png" alt=""></a>
      </div>
      <!-- 右侧内容 -->
      <div>
        <ul class="am-fl tpl-header-navbar">
          <li><a href="/sql-tables">SQL Tables</a></li>
          <li><a href="/text-formator">Text Quote</a></li>
          <li><a href="/mybatis-log-format">Mybatis Log Format</a></li>
        </ul>
      </div>
      <!-- 风格切换 -->
      <!-- <div class="tpl-skiner">
        <div class="tpl-skiner-toggle am-icon-cog">
        </div>
        <div class="tpl-skiner-content">
          <div class="tpl-skiner-content-title">
            选择主题
          </div>
          <div class="tpl-skiner-content-bar">
            <span class="skiner-color skiner-white" data-color="theme-white"></span>
            <span class="skiner-color skiner-black" data-color="theme-black"></span>
          </div>
        </div>
      </div> -->
    </header>



    {% block body %}{% endblock %}
    {% block scripts %}{% endblock %}
    {% block styles %}{% endblock %}


</body>
<script src="../static/assets/js/amazeui.min.js"></script>
<script src="../static/assets/js/amazeui.datatables.min.js"></script>
<script src="../static/assets/js/dataTables.responsive.min.js"></script>
<script src="../static/assets/js/app.js"></script>

</html>