{% extends "base.html" %}
{% block body %}
    <div class="container-fluid">
        <!-- 内容区域 -->
        <div class="am-cf">
            <div class="row">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
                    <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span> Mybatis Log Format</div>
                </div>
            </div>
        </div>
        <div class="row-content am-cf">
            <div class="row">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                    <div class="widget am-cf">
                        <div class="widget-body am-fr">
                            <form class="am-form tpl-form-line-form">
                                <div class="am-form-group">
                                    <label for="user-intro" class="am-u-sm-1 am-form-label">Word Wrap</label>
                                    <div class="am-u-sm-11">
                                        <div class="tpl-switch">
                                            <input id="wordWrap" type="checkbox" class="ios-switch bigswitch tpl-switch-btn">
                                            <div class="tpl-switch-btn-view">
                                                <div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label for="user-intro" class="am-u-sm-1 am-form-label">Log</label>
                                    <div class="am-u-sm-11">
                                        <textarea id="original" style="white-space:nowrap; overflow:auto;"  class="" rows="10" id="user-intro" placeholder="please input log"></textarea>
                                    </div>
                                </div>
                                <div class="am-form-group" style="text-align: center;">
                                    <button id="format" style="float: none;" type="button" class="page-header-button"><span class="am-icon-paint-brush"></span> Format</button>
                                </div>
                                <div class="am-form-group">
                                    <label for="user-intro" class="am-u-sm-1 am-form-label">SQL</label>
                                    <div class="am-u-sm-11">
                                        <textarea id="target" style="white-space:nowrap; overflow:auto;"  class="" rows="10" id="user-intro" placeholder="don't input"></textarea>
                                    </div>
                                </div>
                                <div class="am-form-group" style="text-align: center;">
                                    <button id="copie" style="float: none;" type="button" class="page-header-button"><span class="am-icon-copy"></span> Copie</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#copie').click(function () {
                $("#target").select();
                document.execCommand("Copy");
                $('#copie').popover({content: 'Copie Success!', theme: 'success'});
                $(this).popover('open');
            });
            $("#wordWrap").change(function(){
                if($("#wordWrap").is(':checked')){
                    $("textarea").css({"white-space":"normal"});
                }else {
                    $("textarea").css({"white-space":"nowrap"});
                }
            });
            $("#format").click(function(){
                var $btn = $(this);
                console.log($btn);
                $btn.button('loading');
                $.post('/do-format-msl', {data: $("#original").val()},
                    function (data) {
                        $btn.button('reset');
                        $("#target").val(data);
                    }
                );
            });
            $("#original").blur(function(){
                this.style.overflow="hidden";
            });
            $("#original").focus(function(){
                this.style.overflow="auto";
            });
            $("#target").blur(function(){
                this.style.overflow="hidden";
            });
            $("#target").focus(function(){
                this.style.overflow="auto";
            });
        });

    </script>
{% endblock %}