{% extends "base.html" %}
{% block body %}

<div class="container-fluid">

    <!-- <div class="am-form-group">
        <label for="sourceText" class="antiquewhite-color">原始文本:</label>
        <textarea class="" rows="10" cols="130" id="sourceText" style="width: 95%; border-radius:9px;"></textarea>
    </div>

    <div class="am-g" style="margin-left: 65px;">
        <div class="am-u-sm-4 am-input-group">
            <span class="am-input-group-label">前缀</span>
            <input id="prefix" type="text" class="am-form-field" placeholder="前缀" value='"'>
        </div>
        <div class="am-u-sm-4 am-input-group">
            <span class="am-input-group-label">分隔符</span>
            <input id="df" type="text" class="am-form-field" placeholder="分隔符" value=",">
        </div>
        <div class="am-u-sm-4 am-input-group">
            <span class="am-input-group-label">后缀</span>
            <input id="postfix" type="text" class="am-form-field" placeholder="后缀" value='"'>
        </div>
        <div class="am-u-sm-3 am-input-group">
            <label for="doc-select-1">常见后缀</label>
            <select id="commonPostfix" style="width: 100px;">
                <option value="option1" selected>,</option>
                <option value="option2">}</option>
                <option value="option3">"</option>
                <option value="option3">'</option>
            </select>
            <span class="am-form-caret"></span>
        </div> 
      </div>

    <button type="button" class="am-btn am-btn-primary am-btn-block" style="margin-top: 10px; margin-left: 75px; width: 95%;" onclick="doGet()">开始处理</button>

    <div class="am-form-group" style="margin-top: 20px;">
        <label for="t-res" class="antiquewhite-color">结果文本:</label>
        <textarea class="" rows="10" cols="130" id="t-res" readonly style="width: 95%; border-radius:9px;"></textarea>
    </div> -->


    <!-- new style -->



    <!-- 内容区域 -->
    <div class="am-cf">
        <div class="row">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
                <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span> Text Quote</div>
            </div>
        </div>
    </div>
    <div class="row-content am-cf">
        <div class="row">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                <div class="widget am-cf">
                    <div class="widget-body am-fr">
                        <form class="am-form tpl-form-line-form">
                            <div class="am-form-group">
                                <label for="user-intro" class="am-u-sm-1 am-form-label">原始文本:</label>
                                <div class="am-u-sm-11">
                                    <textarea id="sourceText" style="white-space:nowrap; overflow:auto;"  class="" rows="10" id="user-intro" placeholder="please input"></textarea>
                                </div>
                            </div>
                            <div class="am-g" style="margin-left: 50px;">
                                <div class="am-u-sm-4 am-input-group">
                                    <label for="prefix"  class="am-u-sm-2 am-form-label">前缀：</label>
                                    <div  class="am-u-sm-10">
                                        <input id="prefix" type="text" placeholder="前缀" value='"'>
                                    </div>
                                </div>
                                <div class="am-u-sm-4 am-input-group">
                                    <label for="df"  class="am-u-sm-2 am-form-label">分隔符:</label>
                                    <div  class="am-u-sm-10">
                                        <input id="df" type="text" placeholder="分隔符" value='"'>
                                    </div>
                                </div>
                                <div class="am-u-sm-4 am-input-group">
                                    <label for="postfix"  class="am-u-sm-2 am-form-label">后缀：</label>
                                    <div  class="am-u-sm-10">
                                        <input id="postfix" type="text" placeholder="后缀" value='"'>
                                    </div>
                                </div>
                              </div>
                            <div class="am-form-group" style="text-align: center; margin-top: 10px;">
                                <button id="format" style="float: none;" type="button" class="page-header-button"><span class="am-icon-paint-brush"></span>开始处理</button>
                            </div>
                            <div class="am-form-group">
                                <label for="user-intro" class="am-u-sm-1 am-form-label">结果文本:</label>
                                <div class="am-u-sm-11">
                                    <textarea id="t-res" style="overflow:auto;" readonly class="" rows="10" id="user-intro" placeholder="don't input"></textarea>
                                </div>
                            </div>
                            <div class="am-form-group" style="text-align: center;">
                                <button id="copie" style="float: none;" type="button" class="page-header-button"><span class="am-icon-copy"></span> Copie</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}
{% block scripts %}
<script>
    $(document).ready(function() {
            $('#format').click(function () {
                doGet();
            });
            $("#sourceText").blur(function(){
                this.style.overflow="hidden";
            });
            $("#sourceText").focus(function(){
                this.style.overflow="auto";
            });
            $("#t-res").blur(function(){
                this.style.overflow="hidden";
            });
            $("#t-res").focus(function(){
                this.style.overflow="auto";
            });
            $('#copie').click(function () {
                $("#t-res").select();
                document.execCommand("Copy");
                $('#copie').popover({content: 'Copie Success!', theme: 'success'});
                $(this).popover('open');
            });
        });
    function doGet() {
        let req = {
            txt: $("#sourceText").val(),
            df: $("#df").val(),
            pre: $("#prefix").val(),
            // after: !!$("#postfix").val() ? $("#postfix").val() : $("#commonPostfix option:selected").text()
            after: $("#postfix").val()
        }
        $.post('/do-quote-strs', JSON.stringify(req),
            function (data) {
                $("#t-res").val(eval(data))
            }
        )
            ;
    }
</script>
{% endblock %}

{% block styles %}
<style>
</style>
{% endblock %}